@using MyMVC.Model
@{
    ViewData["Title"] = "Weather Forecast";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@model List<WeatherForecast>
<div class="Container">
<h2>Customer List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>TemperatureC</th>
            <th>TemperatureF</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var w in Model)
        {
            <tr>
                <td>@w.Date</td>
                <td>@w.TemperatureC</td>
                <td>@w.TemperatureF</td>
            </tr>
        }
    </tbody>
</table>
</div>
